/* ---------------------------------- GLOBAL STYLES ---------------------------------- */
body { padding-top: 4.5rem; }
.goals-container { margin-top: 1.5em; }
.col { margin-bottom: 1.5em; }

/* ---------------------------------- NAVBAR STYLES ---------------------------------- */
nav img.logo { max-height: 1.5em; }
nav h1 { margin: 0; font-size: 1rem; }

/* -------------------------------- COMPONENT STYLES --------------------------------- */
button.progress-edit { float: right; }
button.progress-edit img.icon-white { filter: invert(97%) sepia(80%) saturate(0%) hue-rotate(214deg) brightness(105%) contrast(102%); display: inline-block; vertical-align: -0.2em; }

.progress-bar { background-color: darkgreen; }
.progress-bar.progress-time { background-color: darkblue; }

.race-name h3 { font-size: 1.25em; margin-bottom: 0; }
h4.race-company {font-size: 1.15em; margin-bottom: 0; }
p.race-period { float: right; vertical-align: baseline; margin-bottom: 0; font-size: 0.85em; color: slategray; }
.race-progress { margin: 0.75em 0; }
.race-progress .progress, .milestone-progress .progress { margin: 0; }
.progress-header { text-align: right; }
.progress-header, .progress-display { align-self: center; }
.race-details p { margin-bottom: 0; }
.milestone-table tr { font-size: 0.85em; }
.milestone-table td { vertical-align: bottom; }
.milestone-table td:first-of-type { margin-right: 0.5em; }
.milestone-progress .progress-display { width: 100%; }